<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Embed de vídeos</title>
    </head>
    <body>
        <p>Twist and shout</p>
        <iframe width="420" height="315" src="https://www.youtube.com/embed/b-VAxGJdJeQ"></iframe>
        <p>Don't let me down</p>
        <iframe width="420" height="315" src="https://www.youtube.com/embed/NCtzkaL2t_Y"></iframe>
        <p>Let It Be</p>
        <iframe width="420" height="315" src="https://www.youtube.com/embed/hR-3ajVftG4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>Help</p>
        <iframe width="420" height="315" src="https://player.vimeo.com/video/278545958" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        <p>Boa noite:</p>
        <iframe width="420" height="315" src="https://www.youtube.com/embed/Jzvoxx17HuY?playlist=Jzvoxx17HuY&loop=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </body>
</html>